<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Bite Identifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bug Bite Identifier</h1>
    <form action="/identifybite" method="post" enctype="multipart/form-data">
        <input type="text" name="image_url" placeholder="Enter Image URL" required>
        <input type="submit" value="Identify">
    </form>
    <dev class="bod">
    {% if prediction %}
        <h2>You were bitten by a {{ prediction }}</h2>
        <img src="{{ image_url }}" alt="Bug Bite Image">
        {% if prediction == 'tick'%}
        <h3>go see a doctor</h3>
        <img src="https://cdn-icons-png.flaticon.com/512/4982/4982507.png" alt="Tick Image">
        {% endif %}
        {% if prediction == 'mosquito'%}
        <h3>mosquitoes are so common</h3>
        <img src="https://static.vecteezy.com/system/resources/previews/024/249/338/original/mosquito-isolated-on-a-transparent-background-free-png.png" alt="Mosq Image">
        {% endif %}
        {% if prediction == 'flea'%}
        <h3>bro needs to flea</h3>
        <img src="https://static.vecteezy.com/system/resources/previews/024/249/338/original/mosquito-isolated-on-a-transparent-background-free-png.png" alt="Mosq Image">
        {% endif %}
    {% endif %}
    </dev>
</body>
</html>