/* <!DOCTYPE html>
<html>
<head>
<style> 
body {
  background-image: url("https://cdn.discordapp.com/attachments/1208236684081107005/1208451868167110656/file-0v7XVYHDpW0QUzX2tM4cbwIE.png?ex=65e35581&is=65d0e081&hm=94051762874c9a18ff7ff82007ebb0675ab76aa2464735ed8bbd81d4b25ce1ab&"));
}
</style>
</head>
<body>

</body>
</html> */
/* Add your styling here */

@font-face {
  font-family: 'gamey';
  src: url('gameyfont.woff') format('woff'),
    url('gameyfont.TTF') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'contenty';
  src: url('contentfont.TTF') format('truetype');
  font-display: swap;
}

body {
  font-family: gamey;
  text-align: center;
  background-image: url('https://cdn.discordapp.com/attachments/745380022658924554/1208600383937708104/file-grothEl29CyZKcOBvB5QLDgD.png?ex=65e3dfd2&is=65d16ad2&hm=9cc4e486399d8a4c050f24d5582b2879e4454cb29db911d9926cf8f864357d5b&');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color:beige;
  padding-top: 50px; /* Shifts all elements down */
}

h3 {
  font-family: contenty;
}

h1 {
  font-size: 3em;
  background-image: url('https://cdn.discordapp.com/attachments/1208236684081107005/1208623786199617536/eadc07619779c30133ca19bbdf888695.png?ex=65e3f59d&is=65d1809d&hm=ba5ed5c3b1ff689c286d2285b82a874d9427dff873dd5305320803dc23927462&');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 150%; /* Scales the image larger than its container */
  display: inline-block;
  color: brown;
  margin: 15px 0;
  padding: 10px 15px;
}

input[type="text"], input[type="submit"] {
  display: block; /* Makes input block level for easier centering */
  width: 400px; /* Increases size of input box */
  height: 60px; /* Adjust height of input box */
  margin: 30px auto; /* Centers input and adds spacing */
  font-family: contenty;
  font-size: 1.5em; /* Increases font size in input */
  padding: 10px;
}

input[type="submit"] {
  background-color: yellow; /* Changes button color to yellow */
  color: orange; /* Changes button text color to black for contrast */
  border: 3px solid orange; /* Adjusts border color */
  cursor: pointer;
  border-radius: 15px;
}

img {
  width: 150px; /* Adjust based on your preference */
  height: 150px; /* Adjust based on your preference */
  object-fit: cover;
  margin-top: 20px; /* Added for spacing above images */
  display: block; /* Makes the image a block-level element */
  margin-left: auto; /* With margin-right: auto, centers the image */
  margin-right: auto;
}

.bod {
  background-image: url('https://cdn.discordapp.com/attachments/1208236684081107005/1208654294832783370/eadc07619779c30133ca19bbdf888695.png?ex=65e41207&is=65d19d07&hm=3c9d0986f8960114653000cf529a36f59843ff80f1dd39c805ad9a113f43683f&');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 150%; 
  max-width: 700px;
  margin: 0 auto; /* Centers horizontally */
  padding: 10px 15px;
  position: absolute; /* Enables precise positioning */ 
  top: 50%;
  left: 50%; /* Move right by half of the viewport width */
  transform: translate(-50%, -50%); /* Offset by half of the element's width and height */
  width: 100%; 
  border-radius: 4%;
  border: 6px solid beige;
}

.image-button {
  display: inline-block;
  text-decoration: none; /* Removes the underline typically seen in links */
  border: none; /* Removes any border */
}

.image-button img {
  display: block; /* Removes any space below the image */
  width: 200px; /* Or any size you prefer */
  height: auto; /* Keeps the aspect ratio of the image */
}


.back-button {
  position: fixed; /* Stays in place during scrolling */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color: yellow; /* Matches the submit button */
  color: orange; /* Text color to match the submit button */
  border: 3px solid orange; /* Border to match the submit button */
  border-radius: 15px; /* Rounded corners to match the submit button */
  padding: 10px 20px; /* Padding to increase size */
  text-decoration: none; /* Removes underline from link */
  font-family: 'contenty'; /* Matches the font family of the submit button */
  font-size: 1.5em; /* Matches the font size of the submit button */
  cursor: pointer; /* Changes cursor to pointer to indicate clickability */
  display: inline-block; /* Allows setting dimensions */
  text-align: center; /* Centers text inside the button */
}

.back-button:hover {
  background-color: orange; /* Change color on hover for visual feedback */
  color: yellow;
}

